<main class="flex flex-col justify-center items-center py-6 h-screen overflow-y-auto" style="min-height: 600px;">
  <div class="py-20">
    <!-- Accordion Start -->
    <accordion [collapsing]="collapsing">
      <accordion-item title="Vehicle Recive Section" [expanded]="true">
        <ng-template accordionContent>
          <div class="p-4">
            <div class="col-12 ">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas veniam eligendi maiores possimus? Et
              doloremque at fuga voluptatem quaerat nisi, iste corrupti ducimus natus accusamus aut assumenda? Officiis,
              porro! Ad!
            </div>
          </div>
        </ng-template>
      </accordion-item>


    </accordion>
    <!-- Accordion End -->



  </div>
</main>